@page "/encoding"

<PageTitle>Encoding/Decoding - ProgrammersToolKit</PageTitle>

<div class="card">
    <h1 class="page-title">Encoding/Decoding</h1>
    <p>Text encoding and decoding utilities.</p>
    
    <div class="form-group">
        <p><em>This page will provide text encoding/decoding tools. Implementation pending.</em></p>
    </div>
</div>